{% extends '@SyliusAdmin/layout.html.twig' %}

{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}


{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular money icon"></i>
                <div class="content">
                    {{ 'workouse_digital_wallet.admin.ui.new_credit'|trans }}
                </div>
            </h1>
            <div class="ui breadcrumb">
                <a href="{{ path('sylius_admin_dashboard') }}" class="section">Administration</a>
                <i class="right chevron icon divider"></i>
                <a href="{{ path('sylius_admin_customer_index') }}" class="section">Customers</a>
                <i class="right chevron icon divider"></i>
                <a href="{{ path('sylius_admin_customer_show', { 'id': customer.id }) }}"
                   class="section">{{ customer.email }}</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{ 'workouse_digital_wallet.admin.ui.new'|trans }}</div>
            </div>
        </div>
    </div>

    <div class="ui segment">
        {{ form_start(form, {'action': path('workouse_digital_wallet_credit_new',{ 'customerId': customer.id }), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        {% include '@SyliusUi/Form/Buttons/_create.html.twig' %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}
