{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% if is_granted('ROLE_USER') %}
    {{ 'workouse_digital_wallet.shop.ui.available_balance'|trans }}
    <b>{{ money.format(workouse_digital_wallet.balance, sylius.currencyCode) }}</b>
    <br>
    <a href="{{ path('workouse_digital_wallet_credit_use') }}">{{ 'workouse_digital_wallet.shop.ui.use'|trans }}</a> |
    <a href="{{ path('workouse_digital_wallet_credit_remove') }}">{{ 'workouse_digital_wallet.shop.ui.remove'|trans }}</a>

    {% set adjustmentTotal = 0 %}
    {% for item in settings.cart.items %}
        {% for adjustment in item.adjustments %}
            {% if adjustment.type == 'wallet' %}
                {% set adjustmentTotal = adjustmentTotal + adjustment.amount %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if adjustmentTotal < 0 %}
        <table class="ui very basic table">
            <tbody>
            <tr>
                <td>{{ 'workouse_digital_wallet.shop.ui.wallet'|trans }}:</td>
                <td class="right aligned">{{ money.format(adjustmentTotal, sylius.currencyCode) }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endif %}
